.header{
    --background:  #02C39A;
     color: white;
     font-weight: bold;
     font-size: large;
text-align: center;
}



ion-row {
    border: 2px solid #02C39A;
    border-radius: 10%;
    text-align: center;
    font-size: smaller;
  }

  .border{
    border: 2px solid #02C39A;
    border-top: 2px;
    border-bottom: 2px;
  }
  